
{% load static %}
<!doctype html>


<html lang="en" class="no-js"><head>
	<title>{% block title %} seven sigma | Home {% endblock title %}</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'dj7s/css/stroke-gap.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'dj7s/css/bootstrap.min.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'dj7s/css/jquery.bxslider.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'dj7s/css/font-awesome.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'dj7s/css/animate.css' %}" media="screen">
    <!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="{% static 'dj7s/css/settings.css' %}" media="screen"/>
	<link rel="stylesheet" type="text/css"  href="{% static 'dj7s/css/style.css' %}" media="screen">


	<!-- add any scripts specific to the pages here -->
	{% block script %}
	{% endblock script %}


	<script async type="text/javascript" src="{% static 'dj7s/js/jquery.migrate.js' %}"></script>
	<script async type="text/javascript" src="{% static 'dj7s/js/jquery.bxslider.min.js' %}"></script>
	<script async type="text/javascript" src="{% static 'dj7s/js/bootstrap.min.js' %}"></script>
	<script async type="text/javascript" src="{% static 'dj7s/js/jquery.imagesloaded.min.js' %}"></script>
	<script async type="text/javascript" src="{% static 'dj7s/js/jquery.isotope.min.js' %}"></script>
	<script async type="text/javascript" src="{% static 'dj7s/js/retina-1.1.0.min.js' %}"></script>
	<script async type="text/javascript" src="{% static 'dj7s/js/plugins-scroll.js' %}"></script>
	    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
	<script async type="text/javascript" src="{% static 'dj7s/js/jquery.themepunch.tools.min.js' %}"></script>
	<script async type="text/javascript" src="{% static 'dj7s/js/jquery.themepunch.revolution.min.js' %}"></script>
	<script async type="text/javascript" src="{% static 'dj7s/js/script.js' %}"></script>



	<meta name="description" content="Consultancy by innovation experts to strategy development, management, technology transfer, research and technology. Ειδικοί σύμβουλοι σε θέματα καινοτομίας όπως ανάπτυξη στρατηγικής, διαχείριση, μεταφοράς τεχνολογίας, έρευνα και τεχνολογία.">
	<meta name="keywords" content="seven sigma, open innovation, technology assessment, clusters, smart specialization, regional innovation strat, σύμβουλοι, καινοτομία, μεταφορά τεχνολογίας, έρευνα, τεχνολογία, χρηματοδότηση, consulting, innovation, technology tranfer, research, technology, funding, ανοιχτή καινοτομία, αξιολόγηση της τεχνολογίας, συνεργατικοί σχηματισμοί, έξυπνη εξειδίκευση, στρατηγική περιφερειακής καινοτομίας, μικρομεσαίες επιχειρήσεις, μμε, νέες επιχειρήσεις, εταιρίες υψηλής έντασης γνώσης, πνευματικά δικαιώματα, πατέντες">
	<meta name="RATING" content="GENERAL"><meta name="DISTRIBUTION" content="GLOBAL"><meta name="RESOURCE-TYPE" content="DOCUMENT">

	<link rel="apple-touch-icon" sizes="57x57"  href="{% static 'dj7s/7s-apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60"  href="{% static 'dj7s/7s-apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72"  href="{% static 'dj7s/7s-apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76"  href="{% static 'dj7s/7s-apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114"  href="{% static 'dj7s/7s-apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120"  href="{% static 'dj7s/7s-apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144"  href="{% static 'dj7s/7s-apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152"  href="{% static 'dj7s/7s-apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180"  href="{% static 'dj7s/7s-apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"   href="{% static 'dj7s/7s-android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32"  href="{% static 'dj7s/7s-favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96"  href="{% static 'dj7s/7s-favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16"  href="{% static 'dj7s/7s-favicon-16x16.png' %}">

	<link rel="manifest"  href="{% static 'dj7s/manifest.json' %}">

	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content href="{% static 'dj7s/7s-ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">

</head>
<body>

<!-- Facebook Javascript SDK, so that we can embed pages, posts, buttons etc. -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1656142044622309&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>


	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="top-line">
					<div class="">
					</div>
				</div>
				<div class="">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><img src="{% static 'dj7s/images/Seven-Sigma.png' %}" alt=""></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
{% include 'dj7s/navbar.html' %}
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav>
		</header>
		<!-- End Header -->



{% block page_banner %}
{% endblock page_banner %}



{% block content_section %}

{% block sidebar %}
{% endblock sidebar %}

{% block keywords %}
{% endblock keywords %}

{% endblock content_section %}



{% block about_section %}
{% endblock about_section %}



	<!-- Buy Now
			================================================== -->
		<!-- footer
			================================================== -->
	<section class="pad-tb-40">
		<div class="container">
			<div class="row">
				<a target="_blank" class="linkedin" href="https://www.linkedin.com/company/seven-sigma-innovation/"><i class="fa fa-linkedin"></i></a>
			</div><!-- row -->
		</div><!-- Container -->
	</section>
		<!-- footer
			================================================== -->
		<footer>
			<div class=" copyright">
			<div class="container ">
				<div class="pull-left">
				<p class="">
				&copy; Copyright "Seven sigma" 2017. All rights reserved.
			</p>
			</div>
			<div class="pull-right">
				<p class="">
				Created By : 22design
			</p>
			</div>
			</div></div>
		</footer>
		<!-- End footer -->

	</div>
	<!-- End Container -->

{% block inline_scripts %}
{% endblock inline_scripts %}

</body>
</html>
