{% load static %}

{% if images_list %}
{% block gallery %}

 <!-- Lightbox CSS SETTINGS -->
<link rel="stylesheet" type="text/css"  href="{% static 'dj7s/css/lightbox.min.css' %}" media="screen">

<!-- Lightbox js SETTINGS -->
<script async type="text/javascript" src="{% static 'dj7s/js/lightbox.min.js' %}"></script>


<div class="gallery">
	<div class="container">
	   <div class="project-box iso-call col3">

	      {% for image in images_list %}
	       <div class="project-post">
					 		<a href="/media/{{image.article_image}}" data-lightbox="gallery" data-title={{image.image_name}}><img src="/media/{{image.article_image}}" alt={{image.image_alt}}></a>
			           <div class="hover-box">
				               <h2>{{image.image_name}}</h2>
			           </div>
		     </div>
	      {% endfor %}
	  </div>
	</div>
</div>

{% endblock gallery %}
{% endif %}
