{% extends 'dj7s/base.html' %}
{% load static %}



{% block title %} seven sigma | Home {% endblock title %}



{% block script %}
	<script type="text/javascript" src="{% static 'dj7s/js/jquery.min.js' %}"></script>
{% endblock script %}



{% block content_section %}
<!-- home-section
  ================================================== -->
<section id="home-section" class="slider1">

  <!--
  #################################
    - THEMEPUNCH BANNER -
  #################################
  -->
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>	<!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
          <!-- MAIN IMAGE -->
          <img src="{% static 'dj7s/upload/slide/3.jpg' %}"  alt="slidebg1" data-lazyload="{% static 'dj7s/upload/slide/3.jpg' %}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
          <!-- LAYERS -->


          <!-- LAYER NR. 1 -->
          <div class="tp-caption finewide_medium_white lfl tp-resizeme rs-parallaxlevel-0"
            data-x="620"
            data-y="230"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="500"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">SEVEN SIGMA<br><span>INNOVATION</span> <br>
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0"
            data-x="620"
            data-y="350"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="500"
            data-start="1800"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.05"
            data-endelementdelay="0.1"
            style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">Seven Sigma is a consulting firm, <br>
                                                                                        based in Athens, Greece.<br>
                                                                                        Seven Sigma’s service portfolio <br>
                                                                                        comprises highly advanced <br>
                                                                                        and specialized services.
  </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption lfl tp-resizeme rs-parallaxlevel-0"
            data-x="620"
            data-y="470"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="500"
            data-start="2400"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-linktoslide="next"
            style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">
          </div>

          <!-- LAYER NR. 4 -->
          <div class="tp-caption lfr tp-resizeme rs-parallaxlevel-0"
            data-x="820"
            data-y="470"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="500"
            data-start="2500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-linktoslide="next"
            style="z-index: 11; max-width: auto; max-height: auto; white-space: nowrap;">
          </div>
          <!-- LAYER NR. 4 -->
          <div class="tp-caption finewide_medium_white lfl tp-resizeme rs-parallaxlevel-0"
            data-x="0"
            data-y="220"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="700"
            data-start="1200"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"><img src="{% static 'dj7s/upload/slide/slide2-img.png' %}" alt="">
          </div>

        </li>

        <!-- SLIDE  -->

        <!-- SLIDE  -->

      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>
</section>
<!-- End home section -->

<!-- services-offer
  ================================================== -->
<!-- End services-offer section -->
{% endblock content_section %}



{% block about_section %}
<!-- about section
  ================================================== -->
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 who-content">
        <h2 class="title2">Graphene patent and technology landscape analysis</h2>
        <p>Graphene –a single layer of carbon atoms held together in a honeycomb structure– boasts extraordinary properties that could radically change our world, through transformational applications in electronics, telecommunications, aerospace, food packaging and virtually every other industry that can exploit its unique features.
        In an attempt to delineate the current evolutionary state of graphene, provide adequate insight into global R&D investment and pinpoint technological areas for future development, Seven Sigma drafted a patent landscape analysis.<br>
        <strong>You can read the full report <a href="{% static 'dj7s/Analysis/Graphene.pdf' %}" target="_blank">here</a></strong><br>
        On the 15<sup>th</sup> of March 2017, the third most prolific graphene inventor in the world, Dr. James M. Tour, Professor of Materials Science and NanoEngineering at Rice University, Houston, Texas, US, testified about the importance of graphene before the US Congress at the hearing “Disrupter Series: Advanced Materials and Production”, aiming to leverage national funding for graphene research. In his testimony, Dr. Tour cited our report, which was included in its entirety in the US congressional record.<br>
        <strong>You can watch the video of Dr. Tour’s testimony</strong> <strong><a href="https://www.youtube.com/embed/lR-L3boLhPY?start=1183&end=1473" target="_blank">here</a></strong><br>
        <strong>You can read Dr. Tour’s written testimony</strong> <strong><a href="http://docs.house.gov/meetings/IF/IF17/20170315/105701/HHRG-115-IF17-Wstate-TourJ-20170315.pdf" target="_blank">here</a></strong><br>
        </p>
      </div>
      <div class="col-md-6 who-img"><img class="img-full" src="{% static 'dj7s/images/graphene.jpg' %}" alt="graphene"></div>
    </div>
  </div>
</section>
<!-- End about section -->
{% endblock about_section %}



{% block inline_scripts %}
<!-- Revolution slider -->
<script type="text/javascript">

  jQuery(document).ready(function() {

    jQuery('.tp-banner').show().revolution(
    {
      dottedOverlay:"none",
      delay:10000,
      startwidth:1140,
      startheight:670,
      hideThumbs:200,

      thumbWidth:100,
      thumbHeight:50,
      thumbAmount:5,

      navigationType:"bullet",
      navigationArrows:"none",

      touchenabled:"on",
      onHoverStop:"off",

      swipe_velocity: 0.7,
      swipe_min_touches: 1,
      swipe_max_touches: 1,
      drag_block_vertical: false,

                  parallax:"mouse",
      parallaxBgFreeze:"on",
      parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

      keyboardNavigation:"off",

      navigationHAlign:"center",
      navigationVAlign:"bottom",
      navigationHOffset:0,
      navigationVOffset:40,

      shadow:0,

      spinner:"spinner4",

      stopLoop:"off",
      stopAfterLoops:-1,
      stopAtSlide:-1,

      shuffle:"off",

      autoHeight:"off",
      forceFullWidth:"off",



      hideThumbsOnMobile:"off",
      hideNavDelayOnMobile:1500,
      hideBulletsOnMobile:"off",
      hideArrowsOnMobile:"off",
      hideThumbsUnderResolution:0,

      hideSliderAtLimit:0,
      hideCaptionAtLimit:0,
      hideAllCaptionAtLilmit:0,
      startWithSlide:0,
      fullScreenOffsetContainer: ".header"
    });

  });	//ready

</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-84655937-1', 'auto');
ga('send', 'pageview');

</script>
{% endblock inline_scripts %}
