{% extends 'dj7s/base.html' %}
{% load static %}



{% block title %} seven sigma | Home {% endblock title %}



{% block script %}
	<script type="text/javascript" src="{% static 'dj7s/js/jquery.min.js' %}"></script>
{% endblock script %}



{% block page_banner %}
		<!-- page-banner-section
			================================================== -->
		<section class="page-banner-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Areas of Expertise</h2>
					</div>
				</div>
			</div>
		</section>
		<!-- End page-banner section -->
{% endblock page_banner %}



{% block content_section %}
		<!-- services-page section
			================================================== -->
		<section class="services-page-section">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="side-navigation">
							<ul class="side-navigation-list">
								<li><a class="active" href="Innovation-culture.html">Innovation Culture</a></li>
								<li><a href="Innovation-technology-strategy.html">Innovation and Technology Strategy</a></li>
								<li><a href="Innovation_processes.html">Innovation processes</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-9">
						<div class="services-wrapp">
							<div class="services-post">
								<img src="{% static 'dj7s/images/Innovation-culture.jpg' %}" alt="innovation culture">
								<div class="project-title title">
					<h2 class="box-header">Innovation culture</h2>

				</div>
								<p><strong>Develop an innovation culture and advance the innovation capabilities of your organization to accelerate growth</strong></p>
<p>Innovation is neither an elusive art form nor a one-off business initiative. Winning organizations make innovation a day-to-day business by fostering an environment of discovery and creativity within which talents can thrive, while at the same time retaining clear rules and procedures. These organizations also realize that open innovation is a vital part of a leader’s culture, not a management afterthought. Harnessing external intellectual resources, through networking and co-creation, can yield enormous benefits that even technology giants would have never realized, had they been overpowered by the “not invented here” syndrome.</p>
<p>Using state-of-the-art assessment tools, we benchmark your organization’s innovation capabilities against those of market leaders, we determine the limiting factors that restrict you from institutionalizing best innovation practices, and we assist you in establishing the processes, systems, roles and indicators for elevating and monitoring your innovation performance. We then design and implement training workshops and coaching programs to deliver the requisite skills and attitudes for embedding innovation in your company culture. Finally, we assist you in spotting the right strategic partners and expanding your external network with experts, contract research organizations, higher education institutions etc.
</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End services-page section -->
{% endblock content_section %}
