{% extends 'dj7s/base.html' %}
{% load static %}

{% block title %}seven sigma | How we do it | Matrix2017{% endblock title %}

{% block script %}
<script type="text/javascript" src="{% static 'dj7s/js/jquery.min.js' %}"></script>
{% endblock script %}




{% block page_banner %}
		<!-- page-banner-section
			================================================== -->
		<section class="page-banner-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>How we do it</h2>
					</div>
				</div>
			</div>
		</section>
		<!-- End page-banner section -->
{% endblock page_banner %}



{% block content_section %}
		<!-- services-page section
			================================================== -->
		<section class="services-page-section">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="side-navigation">
						{% block sidebar %}
							<ul class="side-navigation-list">
								<li><a href="Improve-assessment.html">IMP³rove Assessment</a></li>
								<li><a href="Advanced-patent-analytics.html">Advanced patent analytics</a></li>
								<li><a href="EvPot+.html">EvPot<sup>2017</sup></a></li>
                                <li><a class="active" href="Matrix.html">Matrix<sup>2017</sup></a></li>
                                <li><a href="PercepMap+.html">PercepMap<sup>2017</sup></a></li>
							</ul>
							{% endblock sidebar %}
						</div>
					</div>
					<div class="col-md-9">
						<div class="services-wrapp">
							<div class="services-post">
								<img src="{% static 'dj7s/images/Matrix.jpg' %}" alt="Matrix">
								<div class="project-title title">
					<h2 class="box-header"><strong>Matrix<sup>2017</sup></strong></h2>

				</div>
								<p>Innovation happens when contradictions, conflicts and trade-offs are eliminated. Most people assume that it is necessary to make compromises. Matrix<sup>2017</sup> is the tool that proves you don’t. Whether you’re working with technical, business, IT situations, Matrix<sup>2017</sup> allows users access to the world’s biggest database of contradiction solutions.</p>
<p>Tell the software what you’re trying to improve and what’s stopping you, and it will present you with a ranked list of the best solution strategies that have been generated through a pool of 7 million case studies.
</p>
</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End services-page section -->
{% endblock content_section %}
