{% block navbar %}
						<ul class="nav navbar-nav navbar-right">

							<li><a class="{% if nbar == 'index' %}active{% endif %}" href="/">Home</a></li>

              <li><a class="{% if nbar == 'news' %}active{% endif %}" href="/news/">News</a></li>

              <li><a class="{% if nbar == 'who' %}active{% endif %}" href="/who_we_are/">Who we are</a></li>

              <li class="drop"><a class="{% if nbar == 'what' %}active{% endif %}" href="#">WHAT WE DO</a>
								<ul class="dropdown">
								  <li><a href="/innovation_culture/">AREAS OF EXPERTISE</a></li>
                    <li><a href="Case_Studies_new.html">CASE STUDIES</a></li>
							  </ul>
						  </li>

              <li class="drop"><a class="{% if nbar == 'how' %}active{% endif %}" href="#">How we do it</a>
								<ul class="dropdown">
									<li><a href="../Improve-assessment.html">IMP<sup>3</sup>rove<br>
                                                                  assessment</a></li>
									<li><a href="../Advanced-patent-analytics.html">Advanced patent analytics</a></li>
									<li><a href="../EvPot+.html">EvPot<sup>2017</sup></a></li>
                                    <li><a href="/matrix/">Matrix<sup>2017</sup></a></li>
                                    <li><a href="../PercepMap+.html">PercepMap<sup>2017</sup></a></li>
								</ul>
							</li>

							<li><a href="../contact.html">Contact</a></li>

						</ul>
{% endblock navbar %}
