{% extends 'dj7s/base.html' %}
{% load static %}

{% block title %}seven sigma | Who We Are{% endblock title %}

{% block script %}
<script type="text/javascript" src="{% static 'dj7s/js/jquery.min.js' %}"></script>
{% endblock script %}



{% block page_banner %}
    <!-- page-banner-section
			================================================== -->
    <section class="page-banner-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Who we are</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- End page-banner section -->
{% endblock page_banner %}



{% block content_section %}
    <!-- projects-page section
			================================================== -->
    <section class="projects-page-section">
      <div class="container">
        <div class="project-title title">
          <h2 class="box-header">Who we are</h2>
        </div>
        <p>We are an innovation consulting firm focused on helping our clients envision and build the future, instead of being overrun by it. Leveraging proven methodologies and valuable expertise, our team of accomplished consultants works with organizations
          to outflank their toughest innovation challenges, skyrocket their innovation performance and ultimately boost their competitiveness and profitability.</p>
        <p>Organizations connect with us for:</p>
      </div>
      <div class="gallery1">
        <div class="container">

          <div class="project-box iso-call col3">
            <div class="project-post transport heavy"> <a href="Innovation-culture.html"><img src="{% static 'dj7s/images/Who_we_are/450x300/who_1.jpg' %}" alt="Developing an innovation"></a>
              <h3><a href="Innovation-culture.html">Developing an innovation culture<br>
			        and advancing their innovation capabilities to accelerate growth</a></h3>
            </div>
            <div class="project-post freight"> <a href="Innovation-technology-strategy.html"><img src="{% static 'dj7s/images/Who_we_are/450x300/who_2.jpg' %}" alt="Creating a winning innovation"></a>
              <h3><a href="Innovation-technology-strategy.html">Creating a winning innovation and technology strategy that supports their business goals</a></h3>
            </div>
            <div class="project-post transport heavy"> <a href="Innovation_processes.html"><img src="{% static 'dj7s/images/Who_we_are/450x300/who_3.jpg' %}" alt="Designing and implementing idea"></a>
              <h3><a href="Innovation_processes.html">Designing and implementing idea and product portfolio management processes to maximize the value of their new product portfolio</a></h3>
            </div>

            <br>
            <p>Our consulting network expands across the globe in the fields of creativity, inventive problem solving and change management. We also work with a large number of academic and research institutes –operating across a wide spectrum of domains–
              that can contribute their knowledge to addressing your challenges.</p>

          </div>
        </div>
      </div>
    </section>
  
    <!-- End projects-page section -->
{% endblock content_section %}
