{% extends 'dj7s/base.html' %}
{% load static %}


{% block title %} seven sigma | Home {% endblock title %}



{% block script %}
	<script type="text/javascript" src="{% static 'dj7s/js/jquery.min.js' %}"></script>
{% endblock script %}



{% block page_banner %}
    <!-- page-banner-section
			================================================== -->
    <section class="page-banner-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>News</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- End page-banner section -->
{% endblock page_banner %}




{% block content_section %}

<section class="projects-page-section">
  <div class="container">
    <div class="project-title title">
      <h2 class="box-header">{{article.article_title}}</h2>
    </div>

    {{article.article_body | safe}}

		<hr>

		<p>

			<!-- AddToAny BEGIN -->
			<div class="a2a_kit a2a_kit_size_32 a2a_default_style pull-right">
			<a class="a2a_button_facebook"></a>
			<a class="a2a_button_linkedin"></a>
			<a class="a2a_button_twitter"></a>
			<a class="a2a_button_pocket"></a>
			<a class="a2a_button_email"></a>
			<a class="a2a_button_print"></a>
			</div>
			<script>
			var a2a_config = a2a_config || {};
			a2a_config.num_services = 6;
			a2a_config.color_main = "D7E5ED";
			a2a_config.color_border = "1385ca";
			a2a_config.color_link_text = "333333";
			a2a_config.color_link_text_hover = "333333";
			</script>
			<script async src="https://static.addtoany.com/menu/page.js"></script>
			<!-- AddToAny END -->

		{% block keywords %}
		<b>Related keywords:</b>
			{% for keyword in keywords_list %}
				<a href="/news/keywords/{{keyword.keyword_name}}/">{{keyword.keyword_name}}</a>,
			{% endfor %}
		{% endblock keywords %}

	</p>
  </div>
</br></br></br>

{% include 'dj7s/gallery.html' %}

</section>

{% endblock content_section %}
