{% extends 'dj7s/base.html' %}
{% load static %}



{% block title %} seven sigma | Home {% endblock title %}



{% block script %}
	<script type="text/javascript" src="{% static 'dj7s/js/jquery.min.js' %}"></script>
{% endblock script %}



{% block page_banner %}
    <!-- page-banner-section
			================================================== -->
    <section class="page-banner-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>News</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- End page-banner section -->
{% endblock page_banner %}



{% block content_section %}
<section class="services-page-section">
<div class="container">
  <div class="row">
  <div class="fb-page col-md-3"  data-href="https://www.facebook.com/ddikastes/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ddikastes/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ddikastes/">Διοικητικοί Δικαστές</a></blockquote></div>
<div class="col-md-9">
<div class="services-wrapp">
{% if keyword_article_list %}

    <ul style="list-style-type:none;">
      {% for article in keyword_article_list %}

        <div class="services-post">
        <li>
          <div class="project-title title">
            <h2 class="box-header"><a href="{% url 'articles:detail' article.id %}">{{article.article_title}}</a></h2>
          </div>
          <p>{{ article.article_body |safe}}</p></li>
        </div>

      {% endfor %}
      </div>
    </ul>
  {% else %}
    <p>No articles are available.</p>
  {% endif %}
  </div>
  </div>
</div>
</section>
{% endblock content_section %}
